@media  screen and (min-width:320px){
    html{font-size: calc(100px*320/750);}
}
@media  screen and (min-width:360px){
    html{font-size: calc(100px*360/750);}
}
@media  screen and (min-width:375px){
    html{font-size: calc(100px*375/750);}
}
@media  screen and (min-width:412px){
    html{font-size: calc(100px*412/750);}
}
@media  screen and (min-width: 414px){
    html{font-size: calc(100px*414/750);}
}
@media  screen and (min-width: 750px){
    html{font-size: calc(100px*750/750);}
}
@media  screen and (min-width: 768px){
    html{font-size: calc(100px*768/750);}
}